/*  ---------------------------------------------------  */
/*  HYPERMEDIA EXAM PROJECT                              */
/*  Politecnico di Milano - 2016                          */
/*  Giuliano Cotrufo - Andrea Cavallaro - Dario Messina  */
/*  ---------------------------------------------------  */

html{
  margin: 0;
  top:0;
  left:0;

}
body{
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  margin:0px;
  top:0;

}
html,body{
  width:100%;
  height:100%;

}
h1{
  font-size: 22px;
  line-height: 1.2em;

}
h2{
  border-bottom: solid #acacac 1px;
  text-transform: none;
  text-decoration: none;

}
h3{
  line-height: 0;

}
p > a{
color: #000 !important;
font-weight: bold;


}
a:link{
 color:#fff;
  
}
a:visited{
 color:#fff;
  
}
nav {
  padding: 3px;
  color: #FFFFFF;
  text-align: center;
}
nav ul{
  width:  90%;
  list-style: none;
  font-size: 16px;

}

nav ul li{
  display: inline-block;
  margin-left: 10px;
}

nav > ul > li > a:link{
  color: #FFFFFF;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 1px;
  font-size:1.1em;

}
nav > ul > li > a:visited{
  color: #FFFFFF;
  text-transform: none;
  text-decoration: none;

}
nav > ul > li > a:hover{
  color: #FFFFFF;
  border-bottom: 3px #FFFFFF solid;
  text-transform: none;
  text-decoration: none;

}
.fitimage {
    display: block;
    width:100%;
    height:auto;
}

footer{
  bottom: 0;
  left:0;
  background-color:#bcbcbc;
  color: rgba(0,0,0,0.5);
  font-size: 12px;
  padding: 10px;
  display: block;
  position: relative;
  

}
footer > p {
  margin-left: 5px;
  padding: 3px;
  border-bottom: 3px solid #acacac;

}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
#main{
    background-color: #0077CC;
    color: #fff;
}

#submain{
    background-color: #CC0030;
    display:none;

}
#head{
    height: 60px;
    background-image: url('img/logo7.png');
    background-repeat: no-repeat;
    background-size: 120px;
    background-color: #0B3D86;
    width: 100%;
    background-position: right;


}
#page{
    height:auto;
   position:relative; 
}
#content{
     position:realtive;
    height: auto !important;
    height:100%;

}
.boxed-content{
    float:left; 
    margin:auto;
    padding:3px;
    display: inline-block; 
    width:400px; 
    overflow:hidden;
    margin-left: 10px;
}
.device-c{
  width:200px; 
  min-height:300px; 
  float:left; 
  margin-left:20px;
  padding: 20px; 
  border-radius:20px; 
  border: 1px #B9B9B9 solid;

}
.device-c:hover{
  background-color:#F9F9F9;
  border-color:none;
  display: block;
  cursor:pointer;


}
.device-show{
  width:40%; 
  height:auto; 
  float:left; 
  margin-left:20px;
  padding: 20px; 

}
.pagenumb{
  padding:8px;
  background: #acacac;
  margin:5px;
  border-radius: 8px;

}
.pagenumb-c{
  padding:3px;
  background: red;
  color: #fff;
  margin:5px;
  border-radius: 8px;

}
.tag{
	display:block; 
	float:left; 
	padding:5px; 
	border:1px solid #acacac; 
	margin:5px;
	cursor:pointer;
}
.tag:hover{
	background-color:#cccccc;
	cursor:pointer;

}
#quickbutton{
	cursor:pointer;
	display:block;
	float:right; 
	margin-left:10px;

}
#lostphone a{
	color: #000;
	font-weight: bold;


}
.word{
	padding:1px;
	background-color:#FFFF00;
	font-weight: bold;


}
#results{
	margin-top:15px;

}
#result{
	padding:3px;
	border:1px solid #acacac;
	border-radius:4px;
	margin:3px;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );

}
#result:hover{
	cursor:pointer;
}
.button{
border:1px solid #495267; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #606c88; background-image: -webkit-gradient(linear, left top, left bottom, from(#606c88), to(#3f4c6b));
 background-image: -webkit-linear-gradient(top, #606c88, #3f4c6b);
 background-image: -moz-linear-gradient(top, #606c88, #3f4c6b);
 background-image: -ms-linear-gradient(top, #606c88, #3f4c6b);
 background-image: -o-linear-gradient(top, #606c88, #3f4c6b);
 background-image: linear-gradient(to bottom, #606c88, #3f4c6b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#606c88, endColorstr=#3f4c6b);
}

.button:hover{
 border:1px solid #363d4c;
 background-color: #4b546a; background-image: -webkit-gradient(linear, left top, left bottom, from(#4b546a), to(#2c354b));
 background-image: -webkit-linear-gradient(top, #4b546a, #2c354b);
 background-image: -moz-linear-gradient(top, #4b546a, #2c354b);
 background-image: -ms-linear-gradient(top, #4b546a, #2c354b);
 background-image: -o-linear-gradient(top, #4b546a, #2c354b);
 background-image: linear-gradient(to bottom, #4b546a, #2c354b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4b546a, endColorstr=#2c354b);
}
.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0; 
	overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

.flexsearch {
  padding: 0 25px 0 25px; 
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 60px;
  padding: 0 46px 0 10px;
	border-color: #888;
  border-radius: 35px; /* (height/2) + border-width */
  border-style: solid;
	border-width: 5px;
  margin-top: 15px;
  color: #333;
	font-size: 26px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
	
.flexsearch--submit {
  position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 60px;
	height: 60px;
  padding: 0;
  border: none;
	margin-top: 20px; /* margin-top + border-width */
  margin-right: 5px; /* border-width */
	background: transparent;
  color: #888;
  font-size: 40px;
  line-height: 60px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #0077cc;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
	color: #888;  
}

input:-moz-placeholder {
  color: #888
}


/* #### bootstrap Form CSS #### */
.bootstrap-frm {
    margin-left:auto;
    margin-right:auto;

    max-width: 500px;
    background: #FFF;
    padding: 20px 30px 20px 30px;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #DDD;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.bootstrap-frm h1 {
    font: 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #DADADA;
    margin: -10px -30px 30px -30px;
    color: #888;
}
.bootstrap-frm h1>span {
    display: block;
    font-size: 11px;
}
.bootstrap-frm label {
    display: block;
    margin: 0px 0px 5px;
}
.bootstrap-frm label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.bootstrap-frm input[type="text"], .bootstrap-frm input[type="email"], .bootstrap-frm textarea, .bootstrap-frm select{
    border: 1px solid #CCC;
    color: #888;
    height: 20px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 70%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;    
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.bootstrap-frm select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right;
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height:15px;
}
.bootstrap-frm textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
}
.bootstrap-frm .button {
    background: #FFF;
    border: 1px solid #CCC;
    padding: 10px 25px 10px 25px;
    color: #333;
    border-radius: 4px;
}
.bootstrap-frm .button:hover {
    color: #333;
    background-color: #EBEBEB;
    border-color: #ADADAD;
}
